@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --bg-app: #faf8ff;
  --bg-surface-root: #f2f3ff;
  --bg-surface-card: #fff;
  --bg-surface-elevated: #e6e9f5;
  --bg-surface-highlight: #dce1f0;
  --bg-surface-lowest: #f5f6fc;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --text-primary-bright: #101418;
  --text-primary: #181c20;
  --text-muted: #414942;
  --text-subtle: #717972;
  --text-disabled: #a0a6a0;

  --text-accent-mint: #059669;
  --text-accent-cyan: #0284c7;
  --text-accent-amber: #d97706;
  --text-accent-coral: #e11d48;

  --text-btn: #fff;

  --border-subtle: rgba(0, 0, 0, 0.08);
  --border-prominent: Rgba(0, 0, 0, 0.16);
  --border-accent: rgba(5, 150, 105, 0.3);

  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-headline: 'Space Grotesk', sans-serif;
  --font-label: 'JetBrains Mono', monospace; 

  font: 18px/145% var(--font-body);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--font-color);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #9ca3af;
    --font-color-variant: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-app);
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-headline);
  font-weight: 500;
  color: var(--text-primary-bright);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.text-muted {
	color: var(--text-muted);
}

.primary-btn {
	background-color: var(--text-accent-mint);
	color: var(--text-on-primary-btn);
}
